# SQLite database file (no paid services required)
DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET="8_KYoy"+4J:JO9Q";1n3MO>P?YQ~Vcj_"
JWT_EXPIRES_IN="15m"
REFRESH_JWT_SECRET="XGz{^)APZ[-T4*E:3nKN7NwX?W@w*ARd5X(£5Y(N9w.M-28,"
REFRESH_JWT_EXPIRES_IN="7d"

# App
PORT=3000
CORS_ORIGIN=http://localhost:5173
